::-webkit-scrollbar {
	background-color: #262626;
	width: 5px;

	&-track {}

	&-thumb {
		background-color: #404040;
		border-radius: 10px;

		&:window-inactive {
			background-color: rgb(116, 115, 105);
		}
	}

	&-corner {
		background-color: #262626;
	}
}
