
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
	border-right: 1px solid black;
}

.tree-view {
	color: @text-color;
	background-color: @tree-view-background-color;

	.list-item.selected {
		color: @text-color-selected;
	}
}
